.browse {
    width: 100%;
}
.mobile-browse-container {
    border-bottom: 8px solid var(--secondary-color);
    display: block;
    margin-top: 50px;
    .movie-sections {
        padding: 20px;
        .movie-categories {
            display: block;
            .popular-movies-section::-webkit-scrollbar {
                display: none;
            }
            .popular-movies-section {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                overflow-x: auto;
                column-gap: 30px;
                figure {
                    display: flex;
                    flex-direction: column;
                    margin: 0 3px;
                    cursor: pointer;
                    flex-shrink: 0;
                    position: relative;
                    figcaption {
                        position: absolute;
                        bottom: 0;
                        text-align: center;
                        text-transform: capitalize;
                        font-weight: bold;
                        font-size: 12px;
                        caption-side: bottom;
                    }
                }
                // ::after {
                //     content: attr(data-content);
                //     caption-side: bottom;
                //     max-width: 148px;
                //     max-height: 21px;
                //     text-align: center;
                //     overflow-y: hidden;
                // }
            }
            .action-movies-section::-webkit-scrollbar, 
            .animation-movies-section::-webkit-scrollbar, 
            .crime-movies-section::-webkit-scrollbar, 
            .adventure-movies-section::-webkit-scrollbar {
                display: none;
            }
            .action-movies-section, 
            .animation-movies-section, 
            .crime-movies-section, 
            .adventure-movies-section {
                @extend .popular-movies-section;
            }
            // .popular-movies-section > p {
            //     flex: 0 0 100%;
            // }
        }
    }
}
.desktop-browse-container {
    display: none;
}

@media (min-width: 760px) {
    .mobile-browse-container {
        display: none;
    }
    .desktop-browse-container {
        border-bottom: 8px solid #222;
        display: block;
        margin-top: 100px;
        padding: 20px;
        .desktop-movie-sections {
            .desktop-popular-movie-category {
                display: flex;
                flex-wrap: wrap;
                row-gap: 30px;
                column-gap: 10px;
                flex-direction: row;
                justify-content: flex-start;
                figure {
                    display: flex;
                    flex-direction: column;
                    margin: 0 3px;
                    cursor: pointer;
                    figcaption {
                        max-width: 237px;
                        caption-side: bottom;
                    }
                }
            }
            .desktop-popular-movie-category > h2 {
                flex: 0 0 100%;
                font-size: 26px;
                color: #E5E5E5;
            }
            .desktop-action-movie-category, 
            .desktop-crime-movie-category, 
            .desktop-animation-movie-category, 
            .desktop-adventure-movie-category {
                margin-top: 20px;
                @extend .desktop-popular-movie-category;
            }
        }
    }
}