html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: "Netflix Sans";
  src:url("../public/fonts/netflix-sans-font/NetflixSans-Regular.woff2");
  font-weight: normal;
}

:root {
  --primary-color: #e50914;
  --white-text: #fffdff;
  --black-color: #000000;
  --secondary-color: #222;
}